

/*----- Global reset ---------------------------------------------------------------*/		
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, textarea, label, p, blockquote, th, td {
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}

table{ 
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img{ 
    border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;font-weight:normal; 
}
strong{ 
    font-weight:bold;
}
ol, ul{ 
    list-style:none;
}
caption, th{ 
    text-align:left; 
}
h1, h2, h3, h4, h5, h6 { 
    font-size:100%;
    font-weight:normal; 
}
q:before, q:after{
    content:'';
}

body{
    background-color: #f2f2f2;
}

h1{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
	
header{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;
}

#main-article{
    text-align: center;
    padding: 0;
    width: 100%
}

#map{
    width: 100%;
    min-height: 100vh; 
    border: 1px solid 
}
#map .marker-txt{
    min-height: 80px;
}

.marker-txt{
    text-align: left;
}

#results{
    display: none;
}
.search{
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #ccc;
}
.search input{
    height: 38px;
}
.search #txt{
    width: 95%
}
.search #btn{
    min-width:60px;
    margin: 0 auto;
}

.error{
    display: none;
    width: 100%;
    text-align: center;
    padding:5px;
}